:root {
  --main-color: #333333;
  --aside-color: #666666;
}
/* fix for slideshow gap */
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  background-color: lightblue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.logo {
  max-width: 100px;
}
.main-header {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 12em 1fr auto;
}
#search-form {
  justify-self: center;
}
.main-footer {
  background-color: var(--main-color);
  min-height: 10em;
}
.container {
  display: grid;
  grid-template-columns: 12em 1fr;
}
.sidebar {
  background-color: var(--aside-color);
}
.slide {
  background-color: lightyellow;
  width: 100%;
  min-height: 45vh;
  display: grid;
  place-items: center center;
  background-size: cover;
  background-position: center center;
}
.one {
  background-image: url("images/candra-winata-CYOFvtpOIpU-unsplash.jpg");
}
.two {
  background-image: url("images/domino-164_6wVEHfI-unsplash.jpg");
}
.three {
  background-image: url("images/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg");
}
.slide h1 {
  background-color: black;
  color: white;
  align-self: end;
  min-width: 12ch;
  text-align: center;
  border-radius: 10px;
}